.wrapper-pokemon-card {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  margin: 20px 0;
  justify-content: center;
}
.wrapper-pokemon-card.my-pokemons {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 20px;
}

.wrapper-pokemon-card-detail {
  width: 100%;
  margin: 20px 0;
}

.link {
  text-decoration: none;
  color: #111;
}

/* responsive */
@media only screen and (min-width: 800px) {
  .wrapper-pokemon-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
  .wrapper-pokemon-card.my-pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1100px) {
  .wrapper-pokemon-card {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 22px;
    grid-row-gap: 22px;
  }
  .wrapper-pokemon-card.my-pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1300px) {
  .wrapper-pokemon-card {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  .wrapper-pokemon-card.my-pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}